<launch>

  <node name="tf" pkg="tf" type="static_transform_publisher" args= "0.0 0.0 0.0 0.0 0.0 0.0 map base_link 100"/>
  <rosparam command="load" file="$(find point_cluster)/config/params.yaml" />
  <rosparam param="/cloud_topic">"/livox_full_cloud"</rosparam>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find point_cluster)/rviz/demo.rviz"/>

  <node pkg="point_cluster" type="demo" name="$(anon demo)" output="screen"/>
  <node pkg="point_cluster" type="FormatConvert" name="FormatConvert" output="screen"/>

</launch>
